.sidebar {
  background: #0d1117;
  @media (min-width: 768px) {
    padding-right: var(--base-size-24, 24px) !important;
    padding-left: var(--base-size-24, 24px) !important;
  }

  @media (min-width: 1012px) {
    padding-right: var(--base-size-32, 32px) !important;
    padding-left: var(--base-size-32, 32px) !important;
  }

  .sidebar_container {
    margin-top: 32px;
    margin-bottom: 24px;
  }

}