.header {

}

.wrapper {
  display: grid;
  min-height: 100vh;
  
  @media (max-width: 768px) {
    padding: 0 16px;
    grid-template-columns: 1fr;
    grid-template-areas:
    'sidebar'
    "body";
  }

  @media (min-width: 768px) {
    padding: 0;
    grid-template-columns: auto minmax(260px , 1fr) 3.3fr auto;
    grid-template-areas:
    ". sidebar body .";
  }

  @media (min-width: 1536px) {
    width: 1536px;
    margin: 0 auto;
  }

  .sidebar {
    //width: 100%;
    grid-area: sidebar;
  }

  .body {
    grid-area: body;
    overflow-y: scroll;
    //height: 100vh;

    @media (max-width: 768px) {
      padding: 0;
    }

    @media (min-width: 768px) {
      padding: 0 24px;
    }

    @media (min-width: 1012px) {
      padding: 0 32px;
    }
    
  }
}